<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sightings</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link th:href="@{/styles/Superheroes.css}" rel="stylesheet">

</head>

<body>
	<header>
		<div id="page-name">
			<h1>Superhero Sighting Application</h1>
		</div>

	</header>

	<div id="content">
		<div id="nav">
			<h2>Sightings Menu</h2>
			<button>
				<a href="sightings/input-sighting-details">Report New Sighting</a>
			</button>
			<button>
				<a href="sightings/display-sightings">View All Recorded
					Sightings</a>
			</button>
			<button>
				<a href="sightings/input-sighting-id">Edit a Sighting</a>
			</button>
			<button>
				<a href="sightings/id-delete-sighting">Delete a Sighting</a>
			</button>

			<button id="return-menu">
				<a href="/">
					<p class="material-symbols-outlined">arrow_back</p>
					<p id="return-text">Return to Main Menu</p>
				</a>
			</button>
		</div>
	</div>

</body>
</html>








