<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link th:href="@{/styles/Superheroes.css}" rel="stylesheet">
</head>
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Edit the Details of a Superpower </h2>
	<hr>
	<form action="./search-superpower">
		Enter Superpower ID :<input type="text" name="id"><br>
		<br> <input type="submit" value="Search Superpower">
	</form>
	<br>
	<br>
	<button id="return-superheroes-menu">
		<a href="/superpowers">
			<p class="material-symbols-outlined"></p>
			<p id="return-text">Return to Superpowers Menu</p>
		</a>
	</button>
</body>
</html>