<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Superheroes Menu</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link th:href="@{/styles/Superheroes.css}" rel="stylesheet">
</head>

<body>
	<header>
		<div id="page-name">
			<h1>Superheroes Application</h1>
		</div>

	</header>

	<div id="content">
		<div id="nav">
			<h2>Superheroes Menu</h2>
			<button>
				<a href="superheroes/input-superhero-details">Add Superhero</a>
			</button>
			<button>
				<a href="superheroes/input-superhero-id">Show one Superhero</a>
			</button>
			<button>
				<a href="superheroes/show-all-superheroes">Show all recorded
					Superheroes</a>
			</button>
			<button>
				<a href="superheroes/input-superhero-id-for-update">Edit Superhero's
					information</a>
			</button>
			<button>
				<a href="superheroes/input-superhero-id-for-delete">Delete a Superhero</a>
			</button>

			<button id="return-menu">
				<a href="/">
					<p class="material-symbols-outlined">arrow_back</p>
					<p id="return-text">Return to Main Menu</p>
				</a>
			</button>
		</div>
	</div>

</body>
</html>


