<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Edit the Details of a Sighting </h2>
	<hr>
	<form action="./search-sighting">
		Enter Sighting ID :<input type="text" name="id"><br>
		<br> <input type="submit" value="Search Sighting">
	</form>
	<br>
	<br>
	<a href="/sightings/">Go to sightings menu</a>
</body>
</html>