<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Got a Sighting to submit? Enter the new sighting's details:></h2>
	<hr>
	<form action="#" th:action="@{./submit-sighting-details}" th:object="${sighting}" 
		method="post">
		<br> Enter Superhero ID : <input type="text" th:field="*{superheroId}" required><br>
		<br> Enter Location ID : <input type="text" th:field="*{locationId}" required><br>
		<br> Pick the Date : <input type="text" th:field="*{sightingDate}" required>
		<br> <input type="submit" value="Submit sighting">
	</form>
	
	<br>
	<br>
	<a href="/sightings">Go To Main Page</a>
</body>
</html>