<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/styles/location.css}" rel="stylesheet">
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Here are all the locations we have registered on the system</h2>
	<hr>
	<table id = "table" border="1">
		<tr>
			<th>Location ID</th>
			<th>Location Name</th>
			<th>Location Description</th>
			<th>Address</th>
			<th>Coordinates</th>
		</tr>
		<tr th:each="location : ${locationList}">
			<td th:text="${location.locationId}"></td>
			<td th:text="${location.locationName}"></td>
			<td th:text="${location.locationDescription}"></td>
			<td th:text="${location.address}"></td>
			<td th:text="${location.coordinates}"></td>
		</tr>
	</table>
	<br>
	<br>
	<a href="/location/location-menu">Back</a>
</body>
</html>