<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/styles/location.css}" rel="stylesheet">
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Got a Location to submit? Enter the new location's details></h2>
	<hr>
	<form action="#" th:action="@{/location/save-location}" th:object="${location}"
		method="post">
		Enter Location ID : <input type="text" th:field="*{locationId}" required><br>
		<br> Enter Location  Name : <input type="text" th:field="*{locationName}" required><br>
		<br> Enter Location Description : <input type="text" th:field="*{locationDescription}" required><br>
		<br> Enter Location Address : <input type="text" th:field="*{address}" required><br>
		<br> Enter Location Coordinates : <input type="text" th:field="*{coordinates}" required><br>
		<br> <input type="submit" value="Save Location">
	</form>
	
	<br>
	<br>
	<a href="/location/location-menu">Back</a>
</body>
</html>
