<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Delete Superhero By ID</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link th:href="@{/styles/Superheroes.css}" rel="stylesheet">

</head>

<body>
	<header>
		<div id="page-name">
			<h1>Superheroes Application</h1>
		</div>

	</header>
	<div id="content">
		<div id="nav">
			<h2>Search for ID to delete Superpower</h2>
			<hr>
			<form action="/delete-superpower-by-id">
				Enter Superpower ID: <input type="text" name="superpowerId"><br>
				<br> <input type="submit" value="Delete Superpower">

			</form>
			<br> <br>
			<button id="return-superheroes-menu">
				<a href="/superheroes">
					<p class="material-symbols-outlined">arrow_back</p>
					<p id="return-text">Return to Superheroes Menu</p>
				</a>
			</button>
		</div>
	</div>
</body>
</html>