<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/styles/location.css}" rel="stylesheet">
</head>
<body>
	<h1>SuperHero Sightings</h1>
	<hr>
	<h2> Got a superpower to add? Enter the new superpower's details </h2>
	<hr>
	<form action="#" th:action="@{/superpowers/save-superpower}" th:object="${power}" method="post">
		Enter Superpower ID : <input type="text" th:field="*{superpowerId}"><br><br>
		Enter Superpower Name : <input type="text" th:field="*{superpowerName}"><br><br>
		Enter Superhero ID : <input type="text" th:field="*{superheroId}"><br><br>
		<input type="submit" value="Save Superpower">
	</form>

	<br><br>
	<a href="/superpowers">Go To Superpowers Menu</a>
</body>
</html>