<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/styles/location.css}" rel="stylesheet">
</head>
<body>
	<h1>SuperHero sighting</h1>
	<hr>
	<h2> Update a superpower's details</h2>
	<hr>
	
	<table>
	<caption> Here is the sighting we found:</caption>
		<tr>
			<th>Superpower ID</th>
			<th>Superpower Name</th>
			<th>Superhero ID</th>
		</tr>
		<tr>
			<td th:text="${superpower.sightingId}"></td>
			<td th:text="${superpower.superpowerName}"></td>
			<td th:text="${superpower.superheroId}"></td>
		</tr>
	</table>
	<br><br>
	<form th:action="@{/superpowers/update-superpower-details}" th:object="${newSuperpower}" method="post">
		<br> Superpower ID : <input type="text" th:field="*{sightingId}" value="${sighting.sightingId}" readonly><br>
		<br> Enter Superpower Name : <input type="text" th:field="*{superheroId}" required value="${sighting.superheroId}"><br>
		<br> Enter Superhero ID : <input type="text" th:field="*{locationId}" required value="${sighting.locationId}"><br>
		<br> <input type="submit" value="Update Superpower">
	</form>
	<br><br>
	<a href="superpowers/">Go to Main Page</a>
</body>
</html>