@charset "UTF-8";

body {
	max-width: 1200px;
	margin: 5px auto;
	font-family: arial, helvetica, sans-serif;
	color: midnightblue;
	background-color: lightsteelblue;
}

header {
	background-color: lightsteelblue;
	width: 100%;
	display: flex;
	color: midnightblue;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#page-name {
	width: 90%;
}

#description {
	width: 90%;
}

h1 {
	text-align: center;
}

#content {
	background-color: mediumaquamarine;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#nav {
	width: 40%;
	padding: 4px;
	min-width: 200px;
}

button {
	background-color: plum;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 4px;
	width: 90%;
	padding: 4px;
	text-align: left;
	font-size: 15px;
	margin: 2px;
}

button:hover {
	background-color: mediumorchid;
}

#sightings {
	width: 65%;
	min-width: 600px;
}

a {
	text-decoration: none;
}

#return-menu {
	vertical-align: middle;
}

#return-text {
	display: inline;
	vertical-align: middle;
}

.material-symbols-outlined {
	display: inline;
	vertical-align: middle;
}